.style{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 20px auto;
    width: fit-content;
    color: #130f40;
}
@media screen and (max-width:576px) {
    .style{
        grid-template-columns: repeat(1,1fr);
        margin: 0;
        text-align: center;
    }
}