.departments-data{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 50px 200px;
}
.commonFontWeight{
    font-weight: bolder;
    color: slateblue;
}
@media screen and (max-width:576px) {
    .departments-data{
        grid-template-columns: repeat(1,1fr);
        margin: 0;
        text-align: center;
    }
}